$boton: #2fa799;
$titulo: $boton;
$visitas: #8b8b8b;

body
{
    text-align: center;

    h1
    {
        color: $titulo;    
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:65px;

        span
        {
            color: $visitas; 
        }
    }
    form
    {        
        input
        {
            color: $boton;
            padding: 12px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
    }
}
